.vmc-centered {
	padding: 10px 0;
}

.vmc-centered img {
	transition: all 0.3s ease;
}

.vmc-centered .vmc_active img {
	transform: scale(1.2);
}

body {
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #1c2b36;
	color: #D5D6E2;
}

.screen {
	position: relative;
	width: 98%;
	height: 96%;
	margin-top: 1%;
	margin-left: 1%;
}

.screen-top {
	position: relative;
	width: 100%;
	height: 25%;
	background-color: aliceblue;
}

.screen-top-data {
	position: relative;
	float: left;
	width: 10%;
	height: 80%;
	top: 20%;
	background-color: #bab4bf;
}

.screen-top-chart {
	position: relative;
	float: left;
	width: 25%;
	height: 80%;
	top: 20%;
	background-color: #b394d1;
}

.screen-top-title {
	position: azimuth;
	float: left;
	width: 30%;
	height: 100%;
	background-color: #000000;
}

.screen-top-liquid {
	position: relative;
	float: right;
	width: 35%;
	height: 80%;
	top: 20%;
	background-color: #b394d1;
}

.screen-left {
	position: relative;
	float: left;
	width: 49.92%;
	height: 70%;
	background-color: #4a647b;
	border-top: 0.1px solid #a9c6c9;
}

.slide-title {
	position: relative;
	width: 100%;
	height: 68.4px;
}

.slide-container {
	position: relative;
	width: 100%;
	height: 90%;
}

.slide-list {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* 表格的背景 */
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.title {
	position: relative;
	width: 100%;
	left: 1px;
	height: 68.4px;
	line-height: 68.4px;
	list-style: none;
	font-size: 25px;
	white-space: nowrap;
}

.slide-list li {
	height: 68.4px;
	line-height: 68.4px;
	list-style: none;
	padding: 0 0px;
}

.slide-list li span {
	margin: 0;
	overflow: hidden;
	height: 68.4px;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

.slide-list li span {
	
}

.slide-list li span:nth-child(1) {
	position: relative;
	width: 20%;
	text-align: center;
	float: left;
	border-bottom: 0.1px solid #a9c6c9;
	border-left: 0.1px solid #a9c6c9;
}

.slide-list li span:nth-child(2) {
	position: relative;
	width: 16%;
	text-align: center;
	float: left;
	border-left: 0.1px solid #a9c6c9;
	border-bottom: 0.1px solid #a9c6c9;
}

.slide-list li span:nth-child(3) {
	position: relative;
	width: 16%;
	text-align: center;
	float: left;
	border-left: 0.1px solid #a9c6c9;
	border-bottom: 0.1px solid #a9c6c9;
}

.slide-list li span:nth-child(4) {
	position: relative;
	width: 16%;
	text-align: center;
	float: left;
	border-left: 0.1px solid #a9c6c9;
	border-bottom: 0.1px solid #a9c6c9;
}

.slide-list li span:nth-child(5) {
	position: relative;
	width: 16%;
	text-align: center;
	float: left;
	border-left: 0.1px solid #a9c6c9;
	border-bottom: 0.1px solid #a9c6c9;
	border-right: 0.1px solid #a9c6c9;
}

.slide-list li span:nth-child(6) {
	position: relative;
	width: 16%;
	text-align: center;
	float: left;
	border-bottom: 0.1px solid #a9c6c9;
	border-right: 0.1px solid #a9c6c9;
}

.screen-right {
	position: relative;
	float: right;
	width: 50%;
	height: 75%;
	/* 	background-color: #eceaee; */
}

.screen-right-brand {
	position: relative;
	float: right;
	width: 100%;
	height: 15%;
	background-color: #dacce8;
}

.brand-list {
	
}

.screen-right-data {
	position: relative;
	float: right;
	width: 100%;
	height: 25%;
	/* 	background-color: #b8cccd; */
}

.right-chart {
	position: relative;
	float: right;
	width: 100%;
	height: 60%;
	/* 	background-color: #b394d1; */
}